@model SimplCommerce.Module.Core.Areas.Core.ViewModels.HomeViewModel

@{
    ViewData["Title"] = Localizer["Home Page"];
}

<partial name="_WidgetInstances" model="Model.WidgetInstances.Where(x => x.WidgetZoneId == WidgetZoneIds.HomeFeatured)" />

<partial name="_WidgetInstances" model="Model.WidgetInstances.Where(x => x.WidgetZoneId == WidgetZoneIds.HomeMainContent)" />

<partial name="_WidgetInstances" model="Model.WidgetInstances.Where(x => x.WidgetZoneId == WidgetZoneIds.HomeAfterMainContent)" />
@* <label>@Localizer["Product Sku"]</label> *@
@* <label>@Localizer["Exist"]</label> *@
@* <label>@Localizer["Select to add"]</label> *@
@* <label>@Localizer["All"]</label> *@
@* <label>@Localizer["Yes"]</label> *@
@* <label>@Localizer["No"]</label> *@
@* <label>@Localizer["Add selected products"]</label> *@
@* <label>@Localizer["Add All Products"]</label> *@
@* <label>@Localizer["Manage Translations"]</label> *@
@* <label>@Localizer["Note that the updated translations only be affected after the application is restarted"]</label> *@
@* @await Component.InvokeAsync("SampleDataForm") *@
